.oe_color_div {
    width: 100px;
    height: 100px;
    margin: 10px;
}

/*.w_wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}
header {
	padding: 0 15px;
}

@media screen and (max-width: 980px) {
  .w_columns .w_column {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.w_columns .w_column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}*/
.w-row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.w-row.is-flex > [class*='column'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/

.w-row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.w-row.is-flex > [class*='column'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.is-flex .w-box {
  background: none;
  position: static;
}
.is-flex [class*="column"] {
  background: #fff;
}


/* Base Stuff Ignore */
.w-body {
    background-image: linear-gradient(325deg,#1cbaeb 7%,#FFBABA 90%);
    padding: 50px 0 100px;
    -webkit-font-smoothing: antialiased;
}
.w-header {
    margin-bottom: 15px;
    text-align: center;
}
.w-big-box-buttons {
     margin-bottom: 15px;
}
.w-header h1 { font-weight: 400; }

.w-container { padding-top: 15px; padding-bottom: 15px; background: rgba(255, 255, 255, 0.1); }
.w-row { padding-top: 15px; padding-bottom: 25px; background: rgba(255, 255, 255, 0.3); }
[class*="column"] { border: solid 1px #e3e3e3; border-top-width: 2px; border-bottom-width: 2px; padding-top: 10px; padding-bottom: 10px; background: rgba(255, 255, 255, 0.5); }
[class*="column"]:first-child { border-left-width: 2px; }
[class*="column"]:last-child { border-right-width: 2px; }


.w-box {
    padding: 25px 7% 0;
    text-align: center;
    position: relative;
    background: #fff;
}
.w-box h2 {
    font-weight: 300;
    letter-spacing: -0.05em;
    margin-bottom: 15px;
}

.w-box p {
    padding-bottom: 125px;
    font-size: 16px;
    font-weight: 300;
    opacity: 0.8;
}
